body {
    font-family: var(--fontFamily);
}
header {
    text-align: center;
    color: var(--headerTextColor);
}
.content {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
.left-content img {
    width: 50%;
    margin: 0 auto;
    display: block;
}
.left-content article {
    margin-bottom: var(--marginBottom);
    margin-right: 20px;
    text-align: justify;
}
.right-content article {
    margin-bottom: var(--marginBottom);
    text-align: justify;
}

.submit-btn { 
    background-color: var(--blue);
    padding: 10px;
    border-radius: 6px;
    border: 1px solid var(--blue);
    color: var(--white);
    font-size: var(--fontSize);
    font-weight: bold;
}

.submit-btn:hover { 
    background-color:var(--lightBlue);
}

.user-form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.user-form > .flex-item  {
    display: flex;
    justify-content: space-between;
}

.user-form > div {
    padding: 10px;

}

@media screen and (max-width: 768px) {
    .content {
        flex-direction: column;
    }
    .left-content img {
        margin-bottom: var(--marginBottom);
    }
}


@media screen and (max-width: 425px) {
    .user-form {
        width: auto;
    }
}